<?xml version="1.0"?>
<launch>
    <!-- Launch the simulator -->
    <include file="$(find f1tenth_simulator)/launch/simulator.launch"/>
    <!-- launch AEB to prevent collision -->
    <node name="AEB" pkg="f1tenth_simulator" type="AEB.py"></node>
    <!-- launch wall following algorithm -->
    <!-- <node name="wall_following" pkg="f1tenth_simulator" type="wall_following.py"></node> -->
    <!-- launch follow the gap algorithm -->
    <!-- <node name="reactive_gap_follow" pkg="f1tenth_simulator" type="reactive_gap_follow.py"></node> -->
</launch>